# Last.fm credentials
LASTFM_API_KEY = ""
LASTFM_API_SECRET = ""
LASTFM_USERNAME = ""
LASTFM_PASSWORD = ""
LASTFM_HASHED_PASSWORD = ""

# Navidrome API
NAVIDROME_API_URL = ""
NAVIDROME_USERNAME = ""
NAVIDROME_PASSWORD = ""

# Script settings
SCROBBLE_DELAY = 0.5 # seconds between scrobbles
MAX_SCROBBLES_PER_TRACK_PER_RUN = 5
MAX_SCORRBLES_PER_TRACK_TOTAL = 200
FUZZY_THRESHOLD = 95